
body {
  margin: 0;
  padding: 0;
}

.header-container {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "headerNav headerSocial"
    "profile profile";

}
.header-nav {
  display: grid;
  grid-area: headerNav;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
    height: 100%;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a.name {
    color: #E07D7D;
  }

  li a:hover {
      background-color: #111;
  }
}

.header-social {
  display: grid;
  grid-area: headerSocial;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      margin: 0;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
}

.profile-container {
  display: grid;
  grid-area: profile;
  height: 100vh;
  border: 2px solid black;

  background: #33C6F8;


  h1.bio {
    height: 10vh;
    border: 1px solid black;
  }

  .profile-pic {
    margin-top: 2em;
    padding-top: 2em;
    border-radius: 50%;
    width: 250px;
    border: 1px solid black;
  }

    p.bio {
      width: 50vh;
      border: 1px solid black;
    }
}

.portfolio-container {
  margin-top: -40px;
  height: 100vh;
  background: #7DD2A0;
}

.portfolio-square {
  .title {
    font-size: 24px;
    font-weight: bold;
  }
}

.about-me {
  margin-top: -40px;
  height: 50vh;
  background: #EEF98F;

}
