
body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto;

}

.header-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "headerNav headerSocial"

}
.header-nav {
  display: grid;
  grid-area: headerNav;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
    height: 100%;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a.name {
    color: #E07D7D;
  }

  li a:hover {
      background-color: #111;
  }
}

.header-social {
  display: grid;
  grid-area: headerSocial;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      margin: 0;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
}

.profile-container {
  display: grid;
  grid-area: profile;
  height: 100vh;

  background: #33C6F8;

  .profile {
    display: grid;
    height: 300px;
    justify-content: center;
    height: 25vh;
  }

  .profile-pic {
    margin-top: 2em;
    border-radius: 50%;
    width: 250px;
  }

  .fun-facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 24px;

    .leader {
      display: grid;
      justify-content: right;
    }
    .coder {
      display: grid;
      justify-content: center;
    }
    .rock-climber {
      display: grid;
      justify-content: left;
    }
  }

    p.bio {
      width: 50vh;
    }
}

.portfolio-container {
  margin-top: -40px;
  height: 100vh;
  background: #7DD2A0;
}

.portfolio-square {
  .title {
    font-size: 24px;
    font-weight: bold;
  }
}

.about-me {
  margin-top: -40px;
  height: 50vh;
  background: #EEF98F;

}
